public/wp-content/uploads/wp2static-crawled-site
public/wp-content/uploads/wp2static-processed-site
public/wp-content/uploads/wp2static-processed-site.zip

public/wp-admin/
public/wp-content/index.php
public/wp-content/plugins/index.php
public/wp-content/themes/index.php
public/wp-includes/
public/index.php
public/license.txt
public/readme.html
public/wp-*.php
public/xmlrpc.php

# Configuration
public/wp-config.php

# Log files
*.log

# htaccess
public/.htaccess

.DS_Store
Thumbs.db

